:root {
    --vertexSize: 4;
    --edgeWidth: 1;
    --highlightDifference: 3;
    --highlightFill: #facc9f;
    --redStroke: #E31A1C;
    --blueStroke: #1F78B4;
    --greenStroke: #29A02C;
    --flipCircleFillCW: #FF7F00;
    --flipCircleFillCCW: #29A02C;
}

.edge {
    /* stroke-width: 2; */
    /* stroke: black; */
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.halfedge {
    stroke: darkgray;
}

.draggable {
    cursor: move;
}

.highlight {
    stroke: orange;
    fill: rgba(255, 166, 0, 0.712);
}

.highlightError {
    stroke: rgb(252, 135, 81);
    fill: rgb(253, 173, 135);
}

.blue {
    fill: var(--blueStroke);
}

.red {
    fill: var(--redStroke);
}