:root {
    --vertexSize: 6;
    --highlightDifference: 3;
    --vertexHighlightSize: 9;
    --edgeWidth: 2;
    --redStroke: #E31A1C;
    --blueStroke: #1F78B4;
    --greenStroke: #29A02C;
    --flipCircleFillCW: #FF7F00;
    --flipCircleFillCCW: #29A02C;
}

.edge {
    /* stroke-width: 2; */
    /* stroke: black; */
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.halfedge {
    stroke: darkgray;
}

.draggable {
    cursor: move;
}

.highlight {
    stroke: orange;
    fill: orange;
}