:root {
    --vertexSize: 6;
    --highlightDifference: 3;
    --vertexHighlightSize: 9;
    --edgeWidth: 2;
}

.edge {
    /* stroke-width: 2; */
    /* stroke: black; */
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.halfedge {
    stroke: darkgray;
}

.draggable {
    cursor: move;
}

.highlight {
    stroke: orange;
    fill: orange;
}