body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    -moz-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: white;
    background-color: #ffffff;
}

.toolbar, .subtoolbar, .buttonTool {
    align-items: left; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

.hidden {
    visibility: hidden;
    display: none;
}

.toolbar input[type="radio"], .subtoolbar input[type="radio"], .checkboxHidden {
    display: none;
}

.toolbar input[type="radio"]:checked+label, .subtoolbar input[type="radio"]:checked+label {
   background-color: #cae6f7;
}

.toolbar label, .subtoolbar label, .buttonTool {
    cursor: pointer;
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 0.5em;
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.subtoolbar label {
    margin-left: 0.5em;
}

.buttonTool label {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

.toolbarRange, .toolbarCheckbox {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 0.5em;
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.toolbarRange input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.toolbarRange input[type="range"]:hover {
    opacity: 1;
}

.toolbarRange input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}
  
.toolbarRange input[type="range"]::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.toolbarRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toolbarRow label {
    padding: 0.2em;
    margin-right: 0.3em;
    margin-top: 0.5em;
}

.toolbarRow  input[type="checkbox"]:checked+label {
    background-color: #cae6f7;
}

svg {
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.dropdown {
    position: relative;
}

.dropbtn {
    cursor: pointer;
}

.dropdownContent {
    position: absolute;
    margin-top: 168px;
    margin-left: 9px;
    background-color: #f1f1f1;
    overflow: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    z-index: 3;
}

.dropdownContent a {
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}